<div class="container">
  <div class="ui segment">
    <h2 class="ui header">The purpose</h3>
    <div class="content">
      The purpose of this website is to give glory and honor to the LORD of LORD’s and the King of Kings, Jesus Christ. There is no organized religious connection and no denomination affiliation with this web site or any of its content.
      <br><br>
      <!-- I know this is bad, I will style later... sheesh -->
      The singular reason for this site is to give correct and truthful answers to questions we all have in life. Also, simply for a consistent reference point we will be using the Scofield NIV bible. cross-references will be through the king James, new King James and the Torah. Along with some Greek, Hebrew and Latin translations of words and word types. We hope and pray as you seek answers in your life that God would draw you close to himself through the grace and truth of his son Jesus Christ.
    </div>
  </div>

  <div class="ui segment">
    <h3 class="ui header">About our Author</h4>
      <div class="content">
        Born Philip Scot Thomas in the Fall of 1963. Scott as he is known to his friends, has been married to his beautiful bride Diane for over thirty years. They have four wonderful adult children, three daughters and a son-in-law who seek the Lord in their lives.
      </div>

      <img class="bio-pic ui image rounded" src="/images/scott_thomas.jpg" alt="Scott Thomas Carpentry" />

      <br>
      <div class="content">
        Scott is a carpenter like his dad and like his Father. Scott has tried to raise his family on God’s word daily. Through the years, Scott and his family have had questions come up that seem to be the same questions a lot of people in every walk of life are seeking the answers too. After years of study, it seemed good to write the answers down and share them for the singular purpose of knowing the truth, which always honors the Lord.
      </div>
    </div>

    <div class="ui segment">
      <h2 class="ui header">Questions Unanswered?</h4>
        <div class="content">
          Submit your own questions or contact the author: <a href="mailto:rapturepracticing@gmail.com" type="email">rapturepracticing@gmail.com</a>.
        </div>
      </div>
</div>
