<div class="article">
  <span class="ui ribbon label" ng-hide="!answer.altContent.where">{{ answer.altContent.where }}</span>
  <h3 class="ui huge header">{{ answer.title }}</h3>

  <h2 class="ui header">
    <i class="comment icon ui avatar"></i>
    <div class="content"> {{ answer.question }} </div>
  </h2>
  <div class="ui red raised segment">
    <span class="ui black ribbon label" ng-hide="!answer.altContent.where">{{ answer.altContent.where }}</span>

    <md class="content" ng-model="answer.content">MD CONTENT HERE</md>
  </div>
</div>
