<div class="ui fluid action input breathing-room">
  <input type="text" placeholder="Search...">
  <div class="ui red button"><span class="anchor-text">Search</span></div>
</div>

<h2 class="ui header">Answers</h2>

<div class="ui cards" >

  <div class="card" ng-repeat="answer in answers">
    <div class="content">

      <div class="header">
        <i class="comment icon ui avatar"></i>
        {{answer.title | ellipses:true:29:'...'}}
      </div>

      <div class="description">{{answer.question}}</div>

      <a class="ui button attached find-out" href="#/answers/{{$index}}"><span class="anchor-text">Find Out</span></a>

    </div>
  </div>

</div>
