<h2 class="ui header breathing-room">Answers Coming Soon</h2>
<div class="ui cards" >

  <div class="card" ng-repeat="question in unansweredQuestions">
    <div class="content">

      <div class="header">
        <i class="comment icon ui avatar"></i>
        {{question| ellipses:true:29:'...'}}
      </div>

      <div class="description">{{question}}</div>

      <!-- <div ng-click="vote()"class="ui bottom attached labeled icon button" title="Vote on this question.">Answer this next, please! <i class="plus icon" ><votes></votes></i>
      </div> -->

    </div>
  </div>

</div>
